<html>
<head>
    <meta charset="utf-8">
    <title>{{ PROJECT_NAME }} - {{ order.order_id }} {{ _('invoice') }}</title>
    <meta name="description" content="{{ PROJECT_NAME }} - {{ order.order_id }} {{ _('invoice') }}">
    <style>
        @page {
            @bottom-left {
                content: '{{ _("Thank you!") }}';
            }
            @bottom-right {
                content: '{{ PROJECT_NAME }} | {{ DOMAIN }}';
            }
        }
    </style>
</head>

<body>
<h1><a href="{{ SERVER_HOST }}" target="_blank">{{ PROJECT_NAME }}</a></h1>

<aside>
    <address id="from">
        {{ order.delivery_address }}
    </address>
</aside>

<dl id="informations">
    <dt>{{ _('Order number') }}</dt>
    <dd>{{ order_info.order_id }}</dd>
    <dt>{{ _('Date') }}</dt>
    <dd>{{ order_info.created_at.strftime('%d.%m.%Y %H:%M') }}</dd>
</dl>

<table>
    <thead>
    <tr>
        <th class="title-column">{{ _('Product') }}</th>
        <th>{{ _('Price') }}</th>
        <th>{{ _('Unit discount') }}</th>
        <th>{{ _('Quantity') }}</th>
        <th>{{ _('Subtotal') }}</th>
    </tr>
    </thead>
    <tbody>

    {% for line in order_info.lines %}
        <tr>
            <td class="title-column">{{ line.product.title }}</td>
            <td>{{ line.base_unit_price.amount }} {{ line.base_unit_price.currency }}</td>
            <td>{{ line.unit_discount.amount }}{{ line.unit_discount.currency }}</td>
            <td>{{ line.quantity }}</td>
            <td>{{ line.total.amount }}{{ line.total.currency }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table id="total">
    <thead>
    <tr>
        <th>{{ _('Due by') }}</th>
        <th>{{ _('Order number') }}</th>
        <th>{{ _('Discount') }}</th>
        <th>{{ _('Total due') }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ order_info.delivery_date.strftime('%d.%m.%Y')  if order_info.delivery_date  else '' }}</td>
        <td>{{ order_info.order_id }}</td>
        <td>{{ order_info.discount.amount }} {{ order_info.discount.currency }}</td>
        <td>{{ order_info.total.amount }} {{ order_info.total.currency }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
